# Copy this file to ".env" and fill in real values.

SECRET_KEY=replace_this_with_a_generated_secret_key
MONGODB_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net
DATABASE_NAME=your_database_name
EMAIL_ADDRESS=your_email@example.com
EMAIL_APP_PASSWORD=your_email_app_password
STAFF_REGISTRATION_CODE=your_staff_registration_code
